
  /*#region material-icons color */

  .mi.orange    {color: orange;}
    
  .mi.blue      {color: blue;}
    
  .mi.green     {color: green;}
    
  .mi.yellow    {color: yellow;}

  .mi.red       {color: red;}

  .mi.white     {color: white;}

  .mi.darkblue  {color: #1250aa !important;}

  .mi.orange    {color: orange;}

  .mi.darkyellow {color: #E5D121;}
   
  .mi.gray {color: #5D5D5D; }

/*#endregion */

/*#region material-icons size */

.mi.s8 {font-size: 8px;}

.mi.s10 {font-size: 10px;}

.mi.s15 {font-size: 15px;}

.mi.s18 {font-size: 18px;}

.mi.s20 {font-size: 20px;}

.mi.s25 {font-size: 25px;}

.mi.s28 {font-size: 28px;}

.mi.s30 {font-size: 30px;}
        
.mi.s35 {font-size: 35px;}
        
.mi.s38 {font-size: 38px;}
        
.mi.s40 {font-size: 40px;}
        
.mi.s45 {font-size: 45px;}
        
.mi.s48 {font-size: 48px;}
        
.mi.s50 {font-size: 50px;}
        
.mi.s60 {font-size: 60px;}

  .mi.s80   {font-size: 80px;}

  .mi.s150  {font-size: 150px;}
/*#endregion */



