
.cell-content {
    vertical-align: middle !important;
    padding-top: 7px !important;
}

/* Per Tablet */
@media screen and (max-width: 768px) {
    .w3-modal-content {
        width: 98%;
    }

    .w3-medium {
        font-size: 9px !important;
    }

    [type='checkbox'] {
        height: 20px !important;
        width: 20px !important;
    }

    
}

/* Per devices 3,5 pollici */
@media screen and (max-width: 400px) {

    .mo-page, h1, h2, h3, h4, h5, h6 {
        font-size: 0.8em !important;
    }

    .w3-modal-content {
        margin: 0px 2px !important;
    }

    .w3-large, h1, h2, h3, h4, h5, h6 {
        font-size: 1.1em !important;
    }

    .s35 {
        font-size: 25px !important;
    }

    .s40 {
        font-size: 30px !important;
    }

    .s23small {
        font-size: 23px !important;
    }

    .s22small {
        font-size: 22px !important;
    }

    .s32small {
        font-size: 32px !important;
    }

    .s32small {
        font-size: 32px !important;
    }

    .mo-header {
        height: 48px !important;
    }

    .mo-menu li {
        height: 60px !important;
    }

    .mo-intestazione {
        height: 28px !important;
    }

    .mo-title {
        font-size: 2.1em !important;
    }

    .mo-page {
        top: 50px !important;
    }

    .w3-container {
        padding: 3px !important;
    }

    [type='checkbox'] {
        height: 18px !important;
        width: 18px !important;
    }

    .w3-btn, .w3-button {
        padding: 8px 6px !important;
    }

    .w3-xlarge {
        font-size: 20px !important;
    }

    .marin-top-zero{
        margin-top: 0;
    }

    /* on small devices */
    .truncate-text {
        max-width: 70%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
    }

    .inline-block-label {
        max-width: 54% !important;
        max-height: 13px;
        display: inline-block;
        overflow: hidden;
    }

    #pgRLPiede{
        max-width: 100%;
        overflow: auto;
    }

}

@media screen and (max-width: 240px){

}

/* Per devices 3.2 inch  pollici */
@media screen and (max-width: 240px) {

    .mo-menu li span, li.menu.menu-doc span {
        color: #000;
        font-weight: 200;
        font-size: 0.8rem !important;
        font-family: "Roboto-Regular";
    }

    .cut-text {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 160px;
        height: 1.9em;
        white-space: nowrap;
    }
}
