/*
    REGION: 
        #1.0 Region BODY 
        #1.1 Region CONTAINER GENERALI
        #1.2 Region MODIFICHE CLASSI W3 
        #1.3 Region MENU
        #1.4 Region TABLE
        #1.5 Region MARGINI
        #1.6 Region PADDING
        #1.7 Region CURSOR:HOVER
        #1.8 Region TEXT FORMAT
        #1.9 Region BORDER
        #2.0 Region DISPLAY
        #2.1 Region SCROLL
        #2.2 Region BUTTON
        #2.3 Region MOOVI GENERAL
        #2.4 Region FONT FAMILY
        #2.5 Region FONT SIZE
        #2.6 Region FONT COLORS
        #2.7 Region BACKGROUND COLOR
        #2.8 Region CSS LOGIN PAGE
        #2.9 Region BOTTONE SLIDESHOW
        #3.0 Region CHECKBOX STYLE
       
*/

@import url('../iconfont/material-icons.css');
@import url('icon-library.css');
@import url('MediaQuery.css');


@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}


/* #1.0 Region BODY */


/* #Endregion */

/* #1.1 Region CONTAINER GENERALI */

.mo-header {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    box-shadow: 0px 1px 3px 2px lightgray;
}


.mo-page {
    position: absolute;
    left: 0;
    right: 0;
    top: 55px;
    width: 100%;
}

.mo-intestazione {
    width: 100%;
    height: 35px;
    padding: 3px 8px 0px 5px;
    background-color: #2C67BC /*#1250AA*/ /*#DBC631*/;
    opacity: 0.78;
    color: white;
    margin-top: 1px;
    margin-bottom: 5px;
}

.mo-select {
    padding: 6px 4px 6px 4px;
}

/* Icona interna al campo input dei filtri */
input[type=text].mo-search {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../image/search.png');
    background-size: 30px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
    padding: 5px 0px 8px 40px !important;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.btn-confirm:focus {
    border: 2px solid;
}

/* .lg-trpconfirm, .lg-traconfirm, .lg-aaconfirm, .lg-mpiuconfirm */
.mo-rlrigconfirm {
    border: 1px solid green;
    font-weight: 400;
    font-size: 1em;
    padding: 8px;
    background-color: #FFF;
    color: green;
    width: 45%;
    cursor: pointer;
}

/* ### SISTEMARE CON PAGE SSCC */
.elenco-letture {
    height: 300px !important;
}

.mo-lbl {
    color: #666;
    font-weight: 400;
    font-family: Roboto-Regular;
    font-size: 0.96em;
}

/* #Endregion */


/* #1.2 Region MODIFICHE CLASSI W3 */

.w3-ul li {
    padding: 4px 8px !important;
}

.w3-bar .w3-bar-item {
    padding: 4px 8px !important;
}

.w3-container {
    padding: 0px 5px 4px 5px !important;
}

.w3-input {
    /*border-radius: 3px 4px;*/
    padding: 6px 4px 6px 4px !important;
    width: 100%;
    display: inline;
}

.w3-modal {
    z-index: 2000 !important;
}

.w3-modal {
    padding-top: 80px !important;
}

.w3-dropdown-content {
    left: -220px;
    min-width: 250px !important;
}

.w3-table th:first-child,
.w3-table td:first-child,
.w3-table-all th:first-child,
.w3-table-all td:first-child {
    padding-left: 4px !important;
}

.w3-table td, .w3-table th, .w3-table-all td, .w3-table-all th {
    padding: 4px 4px !important;
}

.w3-modal {
    padding-top: 30px !important;
}

/* #Endregion */
/* #1.3 Region MENU */
.mo-menu li {
    height: 70px;
    cursor: pointer;
    background-color: white;
}

/* #Endregion*/

/* #1.4 Region TABLE */

.mo-table {
    border: 1px solid #EEEEEE;
    /*border: none;
    border-collapse: collapse;*/
}

    .mo-table tr {
        /*border-bottom: 1px solid #EEEEEE;*/
        /*padding: 5px 0px !important;*/
        font-size: 1.4em !important;
    }

    .mo-table th {
        border-right: 1px solid #EEEEEE;
    }

.mo-table-border tr {
    border-bottom: 1px solid whitesmoke;
}

/* #Endregion */

/* #1.5 Region MARGINI */

.mo-mr-6 {
    margin-right: 6px;
}

.mo-mr-10 {
    margin-right: 10px;
}

.mo-mt--3 {
    margin-top: -3px;
}

.mo-mt-4 {
    margin-top: 4px;
}

.mo-mt-8 {
    margin-top: 8px;
}


.mo-mt-20 {
    margin-top: 20px;
}

.mo-mb-4 {
    margin-bottom: 4px;
}

.mo-mb-5 {
    margin-bottom: 5px;
}

.mo-ml-5 {
    margin-left: 5px;
}

.mo-m-2 {
    margin: 2px;
}

.mo-m-4 {
    margin: 4px;
}

/* #Endregion*/


/* #1.6 Region PADDING */

.mo-pl-4 {
    padding-left: 4px;
}

.mo-pt-2 {
    padding-top: 2px;
}

.mo-pt-5 {
    padding-top: 5px;
}

.mo-pt-8 {
    padding-top: 8px;
}

.mo-pt-10 {
    padding-top: 10px;
}

.mo-pt-16 {
    padding-top: 16px;
}

.mo-pb-2 {
    padding-bottom: 2px;
}

.mo-padding-2 {
    padding: 2px;
}

.mo-padding-4 {
    padding: 4px;
}

.mo-padding-8 {
    padding: 8px;
}

.mo-padding-10 {
    padding: 10px;
}

.mo-padding-20-34 {
    padding: 20px 34px;
}

.mo-padding-0 {
    padding: 0 !important;
}

/* #Endregion*/


/* #1.7 Region CURSOR:HOVER */

.mo-pointer {
    cursor: pointer;
}

/* #Endregion */

/* #1.8 Region TEXT FORMAT */

.mo-bold {
    font-weight: bold;
}

.mo-underline {
    text-decoration: underline;
}

/* #Endregion*/

/* #1.9 Region BORDER */

.mo-border-spacing {
    border-spacing: 1px !important;
}

.mo-border-b-lightblue {
    border-bottom: 1px solid lightblue;
}

.mo-lbllink {
    color: #0769AA;
    font-weight: 400;
    font-size: 0.9em;
    font-family: Roboto-Regular;
}

/* #Endregion*/

/* #2.0 Region DISPLAY */

.mo-display-inlineblock {
    display: inline-block;
}

/* #Endregion*/


/* #2.1 Region SCROLL */

.mo-ofy-auto {
    overflow-y: auto;
}

/* ### e' ancora usata ? */
.mo-ofxy-auto {
    overflow-y: auto;
    overflow-x: auto;
}

/* #Endregion*/

/* #2.2 Region BUTTON */

.mo-btnum {
    background-color: #89C6DB;
}

    .mo-btnum:hover {
        background-color: #1D96BB;
    }

.mo-btn-bottom {
    position: fixed;
    z-index: 99;
    border: none;
    outline: none;
    color: white;
    opacity: 0.85;
    filter: alpha(opacity=85); /* For IE8 and earlier */
}

    .mo-btn-bottom:hover {
        background-color: #555;
    }

    .mo-btn-bottom.position1 {
        bottom: 10px;
        right: 15px;
    }

    .mo-btn-bottom.position2 {
        bottom: 10px;
        right: 85px;
    }


.mo-div-btn {
    width: 250px;
    height: 70px;
    padding: 20px;
}
/* #Endregion */

/* #2.3 Region MOOVI GENERAL */

.mo-va-middle {
    vertical-align: middle;
}

.mo-shadow {
    box-shadow: 0px 10px 1px #F5F2F2;
}

.mo-title {
    font-family: Bangers;
    font-size: 2.6em;
}

.mo-shadow {
    box-shadow: 0px 1px 5px gray;
}

.mo-height-35 {
    height: 35px;
}

.mo-zindex-2001 {
    z-index: 2001 !important;
}

.mo-zindex-2002 {
    z-index: 2002 !important;
}

/* #Endregion */

/* #2.4 Region FONT FAMILY*/

@font-face {
    font-family: Bangers;
    src: url('../fonts/Bangers-Regular.ttf');
}

/*#Endregion*/


/* #2.5 Region FONT SIZE*/

.mo-size-50 {
    font-size: 50px;
}

.mo-size-30 {
    font-size: 30px;
}

.mo-h4 {
    font-weight: 400;
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 10px 0;
    font-size: 20px !important;
}

.mo-h6 {
    font-weight: 400;
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 10px 0;
    font-size: 16px !important;
}

/*# Endregion*/


/* #2.6 Region FONT COLORS */

.mo-font-lightblue {
    color: #1250aa;
}

.mo-font-blue {
    color: #0D4B8E;
}

.mo-font-blue {
    color: #5199ff;
}

.mo-font-green {
    color: #34A853;
}

.mo-font-darkblue {
    color: #1250aa;
}

.mo-font-darkyellow {
    color: #E5D121;
}

.mo-font-darkgray {
    color: hsl(180, 50%, 15%);
}

/*#Endregion*/

/* #2.7 Region BACKGROUND COLOR*/

.mo-light-blue {
    background-color: #58B2D3;
    /*#5A88CB*/
}

.mo-heavenly {
    background-color: #E8EDF5;
}

.mo-red {
    background-color: #DE645D;
}

.mo-green {
    background-color: #62CB64;
}

.mo-light-green {
    background-color: #26B86F;
}

.mo-yellow {
    background-color: #E8F067;
}

.mo-darkblue {
    background-color: #1250aa;
}

.mo-alluminium {
    background-color: #F5F2F2;
}

.mo-gray {
    background-color: hsl(180, 50%, 15%);
}

.mo-blue {
    background-color: #5199ff;
}

.mo-foggy {
    background-color: rgba(51, 51, 51, 0.5);
}

.mo-darkyellow {
    background-color: #E5D121;
}

.mo-teal {
    background-color: #159D9D;
}

.mo-purple {
    background-color: #CE40CE;
}

.mo-nightblue {
    background-color: #0000AA /*#084DFF*/;
}

.mo-orange {
    background-color: #FE7E33;
}

.mo-lime {
    background-color: #C6ED3A;
}

.mo-ariforceblue {
    background-color: #6FA5C4;
}

.mo-darkairforceblue {
    background-color: #5540C6;
}

.mo-greenlemon {
    background-color: #AADE1A;
}

.mo-tiffany {
    background-color: #B7E5FA;
}

.mo-br-orange {
    border: 2px solid #F09000 !important;
}

/* #Endregion */

/* #2.8 Region CSS LOGIN PAGE */

#pglogin {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*background: url('../image/log3.jpg') no-repeat center top;*/
    background-color: #1250aa;
    position: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#loginmain {
    z-index: 100;
    position: absolute;
    width: 80%;
    max-width: 400px;
}

/* #Endregion*/

/* #2.9 Region BOTTONE SLIDESHOW */

/* classi per il bottone 'Pesi' utilizzato nel dettaglio della packing list*/

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2EBC52;
}

    input:checked + .slider.danger {
        background-color: #bc2e2e;
    }

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.mo-table-br {
    border: 1px solid lightgray;
    border-collapse: collapse;
    width: 100%;
}

    .mo-table-br td {
        border: 1px solid lightgray;
    }

/* #Endregion */


/* #3.0 Region CHECKBOX STYLE */

[type='checkbox'] {
    width: 20px;
    height: 20px;
}

/* Contenitore del checkbox + label + marker */
.container {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Nasconde il checkbox di default del browser */
    .container input {
        position: absolute;
        cursor: pointer;
        display: none;
        font-family: Roboto-Regular;
    }

/* Quadrato del checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 3px;
    height: 20px;
    width: 20px;
}

/* Quando il check è checked */
.container input:checked ~ .checkmark {
    background-color: #FFB91F;
    border: 1px solid #FFB91F;
}

    .container input:checked ~ .checkmark.blue {
        background-color: #1250aa;
        border: 1px solid #1250aa;
    }

/* Crea il marker (nascosto quando non è checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Visualizza il marker quando è checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Stile del marker del checkbox */
.container .checkmark:after {
    left: 5px;
    bottom: 3px;
    width: 8px;
    height: 15px;
    border: solid white;
    border-radius: 4px;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.mo-lblautoconfirm {
    color: white;
    font-weight: 400;
    font-size: 0.8em;
}


/* #Endregion */

.mo-smload-ul li {
    padding: 8px 0px;
}

/* Display */
.d-flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

/* */
.mo-tag,
.mo-tag-green {
    border-radius: 2px 2px;
    color: #FFFFFF;
    background-color: #1250AA;
    font-weight: 500;
    font-size: 1em;
    min-width: 20px !important;
    display: inline-block;
    text-align: center;
    padding: 0px 3px;
}

.mo-tag-green {
    background-color: #34A853;
}
